---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

 const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			section {
				padding: 1rem;
				border-radius: 12px;
				margin-bottom: 2rem;
				box-shadow: 0 2px 5px var(--box-shadow);
			}

			section h2 {
				font-size: 2rem;
				color: var(--text-color);
				margin-bottom: 1rem;
			}

			.instructions {
				text-align: left;
			}

			.instructions p {
				margin-bottom: 1rem;
				font-size: 1.2rem;
				line-height: 1.6;
			}

			.instructions summary {
				font-weight: bold;
				font-size: 1.5rem;
				cursor: pointer;
				margin-top: 1rem;
				color: var(--text-color);
			}

			.instructions details {
				margin-bottom: 1.5rem;
				padding: 1rem;
				border-radius: 8px;
				border: 1px solid rgb(var(--gray));
				text-align: left;
				box-shadow: 0 2px 4px var(--box-shadow);
			}

			.instructions summary:hover {
				color: var(--hover-color);
			}

			.instructions ul {
				list-style: none;
				padding: 0;
			}

			.instructions li {
				margin-bottom: 0.5rem;
				font-size: 1.1rem;
				color: var(--text-color);
			}

			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			/* ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			} */
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				/* ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				} */
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h3>EIP research hub</h3>
				<!-- <p class="date"><FormattedDate date={new Date()} /></p> -->
				<p/> 
				This project aims to assist EIP research using Linked Data methods. Check out the resources below to learn how to query EIP datasets from a public SPARQL endpoint.</p>
			</section>
		
			<section>
				<h5>Highlighted Links</h3>
				<li> 
					<a href="https://github.com/itsnilskerwer/eip-rdf/blob/main/EIP-777.ttl">Visit</a>
					EIP dataset for ERC-777 publicly available on Github. 
				</li>	
				<li> 
					<a href="http://13.49.44.222:3030/EIP-777/sparql">Visit</a>
					Public SPARQL endoint for EIP data. 
				</li>	
				<li>
					<a href="https://github.com/itsnilskerwer/eip-rdf">Visit</a>
					Repository with curated SPARQL queries and instructions for querying the EIP dataset.
					Also coontains source code for the triplification of EIP-related information, written in Java, available on Github. 
				</li>
				<li>
					<a href="http://ttl.summerofcode.be">Visit</a>
					A syntax checker for Turtle format (copy and paste your RDF triples).
				</li>
				<li>
					<a href="https://www.ldf.fi/service/rdf-grapher">Visit</a>
					A RDF data visualizer by a Finish research group (copy and paste your RDF triples). 
				</li>
			</section>
			
			  
			 <section>
				<h5>Learn about Linked Data keywords:</h5>
				<ul>
					{ posts.map((post) => (
						<li>
							<a href={`/${post.slug}/`}>
								<img width={720} height={360} src={post.data.heroImage} alt="hero image" />
								<h4 class="title">{post.data.title}</h4>
							</a>
						</li>
					))}
				</ul>
			</section> 
			<section>
				<h5>Take part in the A/B Test Protocol:</h5>
				<div class="instructions">
				  <p>First of all, get comfortable with the RDF and SPARQL concepts by reading through the provided Links, Examples and Explainers. 
					ERC-777 is of particular interest to EIP researchers because it defines a token standard used in smart contracts. Security of token standards is a critical research issue. 
				  </p>
				  <p>If you feel ready, complete ONE of the protocols - choose either Protocol A or Protocol B. Do not look at the other protocol.</p>
				  <details>
					<summary><span class="icon"></span>Instructions for Protocol A</summary>
					<p>The goal of this test is to evaluate the ease of using the ERC-777 dataset as an EIP research tool. Send SPARQL queries to the dataset and analyze the results to answer some questions about ERC-777. 
						If you feel ready, start a 15 min. timer and try to answer the following questions. Note down your answers anywhere e.g. on a piece of paper. 
						Hint: Example queries can be found at https://github.com/itsnilskerwer/eip-rdf/tree/main.
					</p>
					<ul>
					  <li>1. Who are the authors that have participated or contributed to ERC-777?</li>
					  <li>2. What was the last update to ERC-777 (changes from the latest commit)?</li>
					</ul>
					<p>After completing the protocol, click the survey button, to answer some questions anonimously.</p>
				  </details>
		
				  <details>
					<summary><span class="icon"></span>Instructions for Protocol B</summary>
					<p>The goal of this protocol is for you to use all and any research tools that you usually would, when conducting research. 
						If you feel ready, start a 15 min. timer and try to answer the following questions. Note down your answers anywhere e.g. on a piece of paper. 
					</p>
					<ul>
						<li>1. Who are the authors that have participated or contributed to ERC-777?</li>
					  <li>2. What was the last update to ERC-777 (changes from the latest commit)?</li>
					</ul>
					<p>After completing the protocol, click the survey button, to answer some questions anonimously.</p>
				  </details>
						</div>
			  </section>
			  <section>
				<h5>Take part in an anonymous survey:</h5>
				<p>Link to survey: <a href="https://rfc-eth-survey.limesurvey.net/221127?lang=en">Survey Link</a></p>
			  </section>
		</main>
		<Footer />
	</body>
</html>
